.swiper-slide {
    width: 93.5px !important;
    margin-left: -16px;
    color: #0052a8;
}
.sw-container {
    width: 70% !important;
    margin-bottom: 1rem;
}
.swiper-slide {
    font-weight: bold;
}